.form-regular, .form-center {
	.radio, .checkbox {
		margin-top: 20px;
		input, label {
			display: inline;
		}
		input {
			width: initial;
			margin-bottom: 0;
		}
		margin-bottom: 20px;
	}
	label, input, textarea, select, button {
		display: block;
	}
	label {
		margin-bottom: 8px;
		&:not(:first-of-type), .button-blue, .button-red, .button-green {
			margin-top: 20px;
		}
		&.button-blue {
			display: inline-block;
			margin-top: 0;
		}
	}
	input:not([type="radio"]), textarea, select {
		border: none;
		box-shadow: 0 0 2px inset rgba(0,0,0,0.5), 0 0 2px rgba(0,0,0,0.1);
		border-radius: 1px;
		padding: 5px;
		box-sizing: border-box;
		&.input-danger {
			box-shadow: 0 0 2px inset rgba(222,0,0,0.7), 0 0 2px rgba(222,0,0,0.4);
		}
		&:focus {
			box-shadow: 0 0 0 2px rgba($blue,0.5);
			outline: none;
		}
		&::placeholder {
			color: #aaa;
		}
	}
	input {
		margin-bottom: 5px;
		&.button-blue, &.button-green, &.button-red {
			&:last-of-type {
				margin-top: 20px;
				margin-bottom: 0;
			}
		}
		&[type="radio"] {
			margin-bottom: 5px;
			&:focus, &:active {
				box-shadow: 0 0 0 2px rgba($blue,0.5);
				outline: none;
			}
		}
		&[type="file"] {
			display: none;
		}
		&[disabled] {
			background-color: rgba(0,0,0,0.1);
			cursor: not-allowed;
		}
	}
	textarea {
		margin-bottom: 20px;
		max-width: 500px;
		width: 100%;
		height: 150px;
		resize: none;
	}
	button {
		margin-top: 25px;
	}
}
.form-center {
	max-width: 400px;
	margin: 0 auto;
	box-sizing: border-box;
	label {
		text-align: center;
	}
	input, button, textarea {
		width: 100%;
	}
}
.form-regular {
	margin-top: 20px;
	.preview-img {
		max-width: 200px;
		display: block;
		box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
	}
}
.form-delete {
	.button-red {
		margin-top: 5px;
	}
}