.glightbox-clean .gslide-description {
	background-color: transparent !important;
	h4 {
		color: #fff;
		font-size: 1.4em;
		font-family: Raleway, Arial, Helvetica, sans-serif;
		text-align: center;
	}
}